
/* ----------- GENERAL ----------- */

/* COLORS
* primary blue 	#0064B4
* light blue 	#7FCAD3
* dark blue 	#008C95
* red 			#CF0039
* yellow 		#F18A00
 */

body {
	background-color: #7FCAD3;
}

* {
	font-family: Asun;
}

.page_title {
	color: white;
	font-family: Atall;
	font-size: 2.5em;
	margin: 50px 0;
}

/* ----------- HEADER ----------- */

.nav_div {
	position: relative;
	min-height: 50px;
	background-color: white;
	margin-bottom: 25px;
}

.logo_img {
	position: absolute;
	height: 52px;
	width: 52px;
	margin: 0;
	top: 0;
	transition: all .5s;
}

.logo_img:hover {
	transform: rotateY(180deg);
	transition: all .5s;
}

.nav_elements {
	display: block;
	margin: auto;
	text-align: right;
}

.nav_div .nav_elements a {
	display: inline-block;
	color: #CF0039;
	text-decoration: none;
	padding: 15px 0 15px 30px;
	font-family: Aregular;
	transition: all .5s;
}

.nav_div .nav_elements a:hover {
	color: #0064B4;
	transition: all .5s;
}

.nav_div .nav_elements a.active_nav {
	color: #0064B4;
}

.hamb_menu {
    cursor: pointer;
    display: none;
}

ul.navbar-nav {
    margin: 0;
}

ul.navbar-nav li.dropdown a.dropdown-toggle{
    font-family: "Asmall";
    text-align: right;
}

/* ----------- HOMEPAGE ----------- */

.video_container {
	font-size: 0px;
}

video {
	width: 100%;
}

.title_container {
	width: 100%;
	padding: 50px;
	padding-left: 20%;
	margin-top: -5px;
	margin-bottom: 75px;
	background-color: #CF0039;
}

.title_div {
	padding-left: 15px;
	border-left: 3px solid white;
}

.title_div h1, .title_div h2 {
	color: white;
	margin: 0;
}

.title_div h1 {
	font-size: 5em;
	font-family: "Atall";
}

.title_div h2 {
	font-size: 1.5em;
	font-family: "Asmall";
	letter-spacing: 2px;
	word-spacing: 5px;
}

.game_container {
	width: 100%;
	padding: 0;
	margin-bottom: 75px;
	background-color: #CF0039;
	transition: all .5s;
}

.game_container:hover {
	background-color: #F18A00;
	transition: all .5s;
}

.game_container img {
	min-width: 100%;
	height: 300px;
}

.content_container {
	height: 450px;
	width: calc(50% - 12.5px);
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 75px;
	background-color: white;
	transition: all .5s;
}

.left_container {
	margin-right: 25px;
}

.img_div {
	width: 100%;
	overflow: hidden;
}

.content_container a, .game_container a {
	color: #CF0039;
	text-decoration: none;
}

.content_container img {
	height: 250px;
	width: auto;
}

.text_div {
	height: 200px;
	padding: 40px;
	overflow: hidden;
	border-top: 0;
}

.content_container h3, .game_container h3 {
	font-family: Aregular;
	border-bottom: 2px solid #CF0039;
	margin: 0;
	margin-bottom: 15px;
	padding-bottom: 2px;
}

.game_container a h3 {
	border-bottom: 2px solid white;
}

.content_container p, .game_container p {
	font-family: Asun;
	font-size: 1.1em;
	margin: 0;
}

.game_container a h3, .game_container p {
	color: white;
}

.game_container a h3 {
	border-bottom: 2px solid white;
	transition: all .2s;
}

.content_container:hover h3, .content_container:hover p {
	color: #0064B4;
	transition: all .2s;
}

.content_container:hover h3 {
	border-bottom: 2px solid #0064B4;
	transition: all .2s;
}

/* ----------- NIEUWS ----------- */

.news_container, .news_div .container-fluid {
    padding: 0 !important;
}

.news_content {
    padding-top: 0px !important;
}

.box-masonry {
	overflow: hidden;
}

.img-responsive {
	min-height: 100px;
	width: auto;
}

.box-masonry-image {
	height: 200px !important;
	overflow: hidden !important;
}

.box-masonry img {
	width: auto !important;
	height: 100% !important;
    max-width: none;
}

.select_div {
    padding: 10px 20px;
    margin-bottom: 25px;
    background-color: #008C95;
}

.select_div label {
    color: white;
}

.select_div select.form-control {
    border: 0;
    border-radius: 0;
}

.orange {
    background-color: #008C95 !important;
}

.orange h4 a, .orange div {
    color: white;
}

/* ----------- ADD NEWS/ERV ----------- */

.add_news_writer a, .add_erv a {
	font-family: Aregular;
	letter-spacing: 1px;
	font-weight: 100;
	display: block;
	margin: 0 auto;
    margin-bottom: 25px;
	padding: 10px;
    padding-top: 13px;
	background-color: #008C95;
	color: white;
	border: 1px solid white;
    border-radius: 0;
	transition: all .5s;
}

.add_news_writer a:hover, .add_erv a:hover {
	background-color: #CF0039;
	color: white;
	border: 1px solid white;
	transition: all .5s;
}

.add_news_container, .add_erv_container {
    padding: 0;
}

.add_news_div, .edit_news_div, .add_erv_div, .delete_news_div {
    padding: 25px;
    background-color: #008C95;
}

.add_news_div label, .edit_news_div label, .add_erv_div label, .delete_news_div h1, .delete_news_div p {
    color: white;
}

.add_news_div input, .add_news_div textarea, .edit_news_div input, .edit_news_div textarea, .add_erv_div input, .add_erv_div textarea {
    border-radius: 0;
    margin-bottom: 25px;
}

.add_news_div form input:last-of-type, .edit_news_div form input:last-of-type, .add_erv_div form input:last-of-type, .delete_news_div form input:last-of-type {
	font-family: Aregular;
	letter-spacing: 1px;
	font-weight: 100;
    font-size: 1em;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
    padding-top: 13px;
	background-color: #008C95;
	color: white;
	border: 1px solid white;
    border-radius: 0;
	transition: all .5s;
}

.add_news_div form input:last-of-type:hover, .edit_news_div form input:last-of-type:hover, .add_erv_div form input:last-of-type:hover, .delete_news_div form input:last-of-type:hover {
	background-color: #CF0039;
	color: white;
	border: 1px solid white;
	transition: all .5s;
}

.detail_img {
    width: 100% !important;
    height: 100% !important;
}

/* ----------- ERVARINGEN ----------- */

.erv_container {
    padding: 0;
}

.img_erv {
	min-height: 200px !important;
	width: 100% !important;
	overflow: hidden !important;
    max-height: 300px;
}

.img_erv img {
	width: 100%;
	height: auto;
}

.erv_content {
    padding-left: 15px;
}

.erv_content a.btn {
	background-color: #008C95;
    border-radius: 0;
	transition: all .5s;
}

.erv_content a.btn:hover {
	background-color: #CF0039;
	transition: all .5s;
}

/* ----------- OPLEIDINGEN ----------- */

.refine_search {
	background-color: #008C95;
	box-sizing: border-box;
	margin-bottom: 50px;
	padding: 50px;
}

.refine_search h3 {
	color: white;
	font-family: atall;
	margin-top: 0;
	margin-bottom: 50px;
	padding: 5px;
	border-bottom: 2px solid white;
}

.search_form {
	width: 100%;
	margin-bottom: 5px;
}

.search_form .awesomplete, #srch_btn {
	padding: 10px 0;
	font-size: 16px;
	border: 0;
}

.search_form .awesomplete {
	width: 100%;
	display: inline;
	color: #008C95;
	padding-left: 5px;
	margin-left: -2px;
}

.refine_search h4 {
	font-family: Aregular;
	color: white;
	margin-top: 25px;
}

.opleiding_form input[type=checkbox] {
	display: none;
}

.opleiding_form input[type=checkbox]:checked + label {
	background-color: #CF0039;
	color: white;
	transition: all .5s;
}

.opleiding_form button, .opleiding_form .butt {
	background-color: #008C95;
	margin-bottom: 5px;
	padding: 15px;
	color: white;
	border: 1px solid #7FCAD3;
	transition: all .5s;
}

.opleiding_form button:hover, .opleiding_form .butt:hover {
	background-color: #CF0039;
	color: white;
	transition: all .5s;
}

.opleiding_form .active {
	background-color: #CF0039;
	color: white;
	transition: all .5s;
}

.opleiding_form button {
	min-width: 25%;
	margin-top: 25px;
	margin-bottom: 0;
	font-size: 1.5em;
	text-align: center;
	background-color: #7FCAD3;
	border-color: #7FCAD3;
	color: white;
	font-family: asmall;
}

.opleiding_form button span {
	margin-right: 10px;
}

.school-list {
	background-color: #008C95;
	color: white;
	margin-bottom: 25px;
	box-sizing: border-box;
}

.school-list table {
	width: 100%;
}

.school-list .mobile_screen {
	display: none;
}

.school-list tr,
.school-list td {
    padding: 25px 50px;
    color: white;
    width: 49.5%
}

.school-list tr {
    border-bottom: solid 1px #7FCAD3;
	transition: all .5s;
}

.school-list tr:hover {
    background-color: rgba(247, 146, 57, 1) !important;
	transition: all .5s;
}

.search-form {
    margin-bottom: 2em;
}

.link_div div {
	text-align: right;
}

.onderwijs_link {
	text-decoration: none;
	font-family: Asmall;
	margin: 20px 0 0 0;
	display: inline-block;
	text-align: right;
	color: white;
}

.onderwijs_link:hover {
	text-decoration: none;
	color: #7FCAD3;
}

/* ----------- GAME ----------- */

.content_container.game_img_div, .content_container.game_text_div {
	width: calc(50% - 13px);
}

.right_container {
    margin-left: 25px;
}

.deletable_div {
    display: none;
}

.game_img_div {
    position: relative;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.game_img_div img {
    position: absolute;
    width: 100%;
    height: auto;
}

.game_text_div {
    height: 450px !important;
    margin-bottom: 0 !important;
    background-color: #CF0039;
}

.game_text_div .text_div {
    height: 450px !important;
    margin-bottom: 0 !important;
    color: white;
}

.game_text_div .text_div h2 {
    font-family: "Asun";
}

.game_text_div:hover h3, .game_text_div:hover p {
	color: white;
}

.game_text_div a {
	font-family: Aregular;
	letter-spacing: 1px;
	font-weight: 100;
	display: block;
	width: 100%;
	margin: 0 auto;
    margin-top: 25px;
	padding: 10px;
    padding-top: 13px;
	background-color: #CF0039;
	color: white;
	border: 1px solid white;
    border-radius: 0;
	transition: all .5s;
    text-align: center;
}

.game_text_div a:hover {
	background-color: #008C95;
	border: 1px solid white;
	transition: all .5s;
}

/* ----------- CONTACT ----------- */

.contact_div {
	background-color: #008C95;
	padding: 50px;
	color: white;
	margin-bottom: 150px;
}

.contact_div label {
	font-family: Aregular;
	letter-spacing: 1px;
	font-weight: 100;
	display: block;
	vertical-align: top;
	color: white;
}

.contact_div input, .contact_div textarea {
	display: block;
	font-family: Asun;
	width: 100%;
	margin-bottom: 25px;
	padding: 5px;
	border: 0;
    border-radius: 0;
	color: #008C95;
}

.contact_div form input:last-of-type {
	font-family: Aregular;
	letter-spacing: 1px;
	font-weight: 100;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
    padding-top: 13px;
	background-color: #008C95;
	color: white;
	border: 1px solid white;
    border-radius: 0;
	transition: all .5s;
}

.contact_div form input:last-of-type:hover {
	background-color: #CF0039;
	border: 1px solid white;
	transition: all .5s;
}

.contact_page h3 {
	color: white;
}

.school_page .page_title {
	padding-left: 50px;
}

.school-div {
	padding: 25px 50px;
}

.school_container {
	background-color: #008C95;
	color: white;
	margin-bottom: 25px;
	box-sizing: border-box;
}

.school_container small, .school_container a {
	text-decoration: none;
	color: white;
}

.school_link {
	color: white;
	padding: 15px;
	border: 1px solid white;
	margin-top: 10px;
	display: inline-block;
	text-decoration: none;
	font-family: Asmall;
	transition: all .5s;
}

.school_link:hover {
	background-color: #CF0039;
	transition: all .5s;
}

/* ----------- LOGIN ----------- */

.login_container {
    padding: 0 !important;
}

.login_row {
    margin: 0 !important;
}

.login_container form {
    padding: 10px;
    padding-top: 25px;
}

div.panel.panel-default {
    background-color: #008C95;
    border: 0;
    border-radius: 0;
}

div.panel.panel-default label, div.panel.panel-default a {
    font-family: "Aregular";
    color: white;
}

div.panel.panel-default input {
    border-radius: 0;
    color: #008C95;
}

div.panel.panel-default button.btn {
	font-family: Aregular;
	letter-spacing: 1px;
	font-weight: 100;
	display: block;
	width: 50%;
	margin: 0 auto;
	padding: 10px;
    padding-top: 13px;
	background-color: #008C95;
	color: white;
	border: 1px solid white;
    border-radius: 0;
	transition: all .5s;
}

div.panel.panel-default button.btn:hover {
	background-color: #CF0039;
	color: white;
	border: 1px solid white;
	transition: all .5s;
}

div.panel.panel-default .remember_me input[type=checkbox] {
    visibility: hidden;
}

div.panel.panel-default .remember_me {
	width: 20px;
	height: 20px;
	background: #7FCAD3;
	border-radius: 100%;
	position: relative;
    display: inline-block;
}

div.panel.panel-default .remember_me span {
    margin-left: 30px;
}

div.panel.panel-default .remember_me .checkbox_div {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 100px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 1;

	background: #008C95;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.remember_me input[type=checkbox]:checked + .checkbox_div {
	background: #CF0039;
}

.checkbox label {
    padding-left: 5px;
}

.forgot_pswd_link {
    padding: 0 !important;
}

/* ----------- ROLES ----------- */

.search_user_div {
	background-color: #008C95;
	color: white;
	margin-bottom: 25px;
	box-sizing: border-box;
	width: 100%;
    padding: 25px 50px;
}

.search_user_div label {
	color: white;
}

.search_user_div input {
    border-radius: 0;
}

.search_user_div button {
	font-family: Aregular;
	letter-spacing: 1px;
	font-weight: 100;
    font-size: 1em;
	display: block;
	width: 100%;
	margin: 0 auto;
    margin-top: 25px;
	padding: 10px;
    padding-top: 13px;
	background-color: #008C95;
	color: white;
	border: 1px solid white;
    border-radius: 0;
	transition: all .5s;
}

.search_user_div button:hover {
	background-color: #CF0039;
	border: 1px solid white;
	transition: all .5s;
}

.roles_table {
	background-color: #008C95;
	color: white;
	margin-bottom: 25px;
	box-sizing: border-box;
	width: 100%;
}

.roles_table tr,
.roles_table td,
.roles_table th  {
    padding: 25px 50px;
    color: white;
    width: 49.5%
}

.roles_table tr {
    border-bottom: solid 1px #7FCAD3;
	transition: all .5s;
}

.roles_table tr:hover {
    background-color: rgba(247, 146, 57, 1) !important;
	transition: all .5s;
}

.roles_table thead tr {
	background-color: #CF0039 !important;
}

.roles_table thead tr:hover {
	background-color: #CF0039 !important;
	transition: all .5s;
}

.roles_table select, .roles_table select option {
    color: #008C95;
    padding: 5px;
}

/* ----------- CONDITIONAL ----------- */

@media (max-width: 650px) {

	.logo_img {
		display: none;
	}

	.nav_div {
        margin-bottom: 0;
	}

	.nav_elements {
		width: calc(100% - 25px);
		margin: 0 auto;
		text-align: center;
	}

	.nav_div .nav_elements a {
		padding: 10px;
        font-size: 1em;
        display: block;
        border-bottom: 1px solid #CF0039;
	}

    .hamb_menu {
        cursor: pointer;
        display: block;
    }

	video {
		display: none;
	}

	.title_container {
		width: calc(100% - 25px);
		padding: 20px;
		margin: 0 12.5px 25px 12.5px;
	}

	.title_div h1 {
		font-size: 2.5em;
		margin-bottom: 5px;
	}

	.title_div h2 {
		font-size: 1.3em;
		letter-spacing: 1px;
	}

	.content_container:nth-child(odd) {
		margin-right: 12.5px;
	}

	.content_container {
		height: 400px;
		width: calc(100% - 25px);
		margin: 0 12.5px 25px 12.5px;
	}

    .game_container {
		width: calc(100% - 25px);
		margin: 0 12.5px 25px 12.5px
    }

    .content_container.game_img_div, .content_container.game_text_div {
		width: calc(100% - 25px);
		margin: 0 12.5px 25px 12.5px !important;;
    }

	.text_div {
		height: 150px;
		padding: 20px;
	}

	.text_div h3 {
		font-size: 1.2em;
	}

	/* opleidingen */

	.opleiding_form button {
		display: block;
	}

	.school-list .mobile_screen {
		display: block;
	}

	.school-list .large_screen {
		display: none;
	}

	.school-list tr,
	.school-list td {
	    padding: 20px 20px;
	}

	.refine_search {
		padding: 20px;
	}

	.opleiding_form button {
		width: 100%;
	}

	/* scholen */

	.page_title {
		padding-left: 20px;
	}

	.school-div {
		padding: 25px 20px;
	}

	.school-div h3 {
		margin-top: 0;
	}

	/* contact */

	.contact_page .page_title {
		padding-left: 20px;
	}

	.contact_div {
		padding: 25px 20px;
	}

	.contact_form label {
		font-size: 1em;
		width: 50%;
	}

	.contact_form input, .contact_form textarea {
		width: 100%;
	}

	.contact_form button {
		width: 50%;
	}

	/* ervaringen */

	.img_erv {
		height: 150px !important;
		padding: 0;
	}

	.img_erv img {
        min-height: 150px;
		height: inherit;
        max-height: 200px;
		width: auto;
        max-width: 150%;
	}

}

@media (min-width: 650px) {
    
	.nav_elements {
        display: block !important;
	}

}

@media (max-width: 500px) {

	.box-masonry-image {
		height: 200px !important;
		overflow: hidden !important;
	}
    
	.page_title {
		margin-left: 0 !important;
        text-align: center;
        font-size: 2.5em;
	}

	.cource-box .cource-text {
		margin-left: 0;
	}

	.box-masonry-text {
		height: 150px;
	}

    .login_row {
        margin: 15px !important;
    }

}

@media (max-width: 768px) and (min-width: 500px) {

	.box-masonry-image {
		height: 300px !important;
		overflow: hidden !important;
	}

	.page_title {
		margin-left: 0 !important;
        text-align: center;
        font-size: 2.5em;
	}

	.cource-box .cource-text {
		margin-left: 0;
	}

    .login_row {
        margin: 15px !important;
    }

}

@media (max-width: 992px) {
    .box-masonry img {
        width: 100% !important;
        height: auto !important;
    }
    
}

@media (min-width: 992px) {
	.container {
		width: 900px;
	}
    
    .content_container.game_img_div, .content_container.game_text_div {
        width: calc(32.75% - 12.5px);
    }

    .deletable_div {
        display: inline-block;
    }
}

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 1200px;
	}
}
